

.top{
   
    height: auto; 
    width: 100%; 
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.bio
{
	font-size: 80%;
	font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;

}

.image_reserach
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.headshot
{
	width: 90%;
	height: auto;
	padding-top: 5%;
	}

.logo
{
    width:20px;
    padding-right: 10px;
    padding-left: 10px;

}

.emoji
{
    width:3px;
    padding-right: 1px;
    padding-left: 1px;

}

h4{
    text-align: justify;
    color: #267CB9;
    text-align: center;
    font-family: 'Proxima Nova Soft','Helvetica Neue', Helvetica, Serif;
    font-size: 150%;
    margin: 1% 0 0;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    line-height: 1.1;
    letter-spacing: 7px;

}

h1 {
    color: #3d3c3c;
    text-align: left;
    font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
    font-size: 130%;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}





.NewText {
	
	margin-top: 4%;
	margin-bottom: 5%;
    margin-left: auto; 
    margin-right: auto;
    width:100%;
    height:auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 3%;
    padding-bottom: 3%;
   

}

.NewText p {
	padding-left: 5%;
    padding-right: 5%;
}

.menu
{
	font-size: 100%;
	font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	color: #267CB9;

}




.Project1 {
	background-color: #F8F8F8;
	margin-top: 4%;
	margin-bottom: 5%;
    margin-left: auto; 
    margin-right: auto;
    width:100%;
    height:auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0%;
    padding-bottom: 0%;
  
}

.main {
	margin-top: 4%;
	margin-bottom: 0%;
    margin-left: auto; 
    margin-right: auto;
    width:100%;
    height:auto;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0%;
    padding-bottom: 0%;
   
}

.main p {
	text-align: left;
    color: #267CB9;
    font-family: 'Proxima Nova Soft','Helvetica Neue', Helvetica, Serif;
    font-size: 150%;
    margin: 1% 0 0;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    line-height: 1.1;

}



.Project1 p {
	padding-left: 5%;
    padding-right: 5%;
}

.sidenav{

    background-color: #F8F8F8;
    height: auto%; 
    width: 0%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    text-align: center:;

}

.sidenav p{

	font-size: 70%;
	font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 0%;
	padding-top: 0%;
	line-height: 1.5;

}

.Project1 img {
	float:left;
	width: 400px;
	padding: 1%;
	  display: block;
  margin-left: 20%;
  margin-right: auto;
	
}



/* On bigger screens, where height is more than 800px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (min-width: 1080px) {
    
    .sidenav{background-color: #F8F8F8;}
    .sidenav 
    {width: 30%;
    padding-top: 2%;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%
}

    .Project1 {margin-left: 38%;}
    .Project1 {width: auto;}
    .Project1 {top:0};
    .Project1 {padding-left: 10%;}
    
    .image_reserach {margin-left: 50%;}
    .image_reserach {width: 40%;}
    .image_reserach {top:0};
    .image_reserach {padding-left: 10%;}
    
    .main {margin-left: 38%;}
    .main {width: auto;}
    .main {top:0};
    .main {padding-left: 10%;}
	
	.NewText {margin-left: 38%;}
    .NewText {width: auto;}
    .NewText {top:0};
    .NewText {padding-left: 10%;}
    
    .menu
{
	font-size: 200%;
	font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	color: #267CB9;

}
	
        


    .top {width:0;}
    .top{ height:0;}
    .top{ padding:0 0 0 0;}
    .top{ margin:0 0 0 0;}
 
 
}





h2 {
    color: #3d3c3c;
    text-align: left;
    font-family: Helvetica;
    font-size: 120%;
    font-variant: Helvetica Neue;
}
h3 {
    color: #3d3c3c;
    text-align: left;
    font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
    font-size: 100%;
    font-variant: Helvetica Neue;
}



h1, h2, h3 {
    line-height: 1.1;
}

body{
    word-wrap: break-word;
    color:#727272;
    font-family: 'Proxima Nova Soft','Helvetica Neue',Helvetica, Serif;
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
    line-height:1.5;
    text-align:justify;
}




    hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: auto;
}


a{
    color:#267CB9;
}
a.hover{
    color:#3d3c3c;
}

.resume{
    color:#267CB9;
}

.icon{
     color: #F8F8F8; 
}
.icon:hover{color: #F8F8F8;}
